@import url('//fonts.googleapis.com/css?family=Electrolize:300,400,600,700&amp;lang=en');

@media screen and (max-width: 568px) {
    .infoFirst {
        height: 100%;
        width: 100%!important;
        flex-direction: column!important;
        background-color: #B5DCC9;
    }
    .infoGeneral {
        width: 90vw!important;
        text-align: center!important;
    }
    .infoFirstBottom {
        flex-direction: column!important;
    }
    .infoFirstBottomTxt {
        margin-right: 0px!important;
        text-align: center;
    }
    .blockImgBrocante {
        margin-right: 100px;
    }
    .imgBrocante {
        width: 180px!important;
    }
}


html {
    font: 1rem "Fira Sans", Electrolize;
}

body {
    flex-direction: column;
    background-color: #B5DCC9;
}


/* HEADER */
/* .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100px;
    flex: 1;
    align-items: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
    margin-bottom: 20px;
} */



@media screen and (max-width:768px){
    .header {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        /* height: 100px; */
        /* flex: 1; */
        align-items: center;
        border: 2px solid #6D90C6;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .logo {
        width: 10%;
        /* text-align: center; */
        margin-top: 10px;
        margin-left:10px;
    }
    .titleSite{
        /* width: 80%; */
        text-align: center;
        font-size:4vw;
        display:none;
    }
    .titleSite2{
        /* width: 80%; */
        text-align: center;
        font-size:1em;
        border: 2px solid #6D90C6;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    #dateBla{
        display:none;
    }
    .button {
        height: 40px;
        width: 80px;
        margin-right:10px;
        border-radius: 10px;
        background-color: #6D90C6;
    }
    
    .buttonValid {
        font-size: large;
        height: 20px;
        width: 50%;
        border-radius: 10px;
        background-color: #6D90C6;
    }
    .imgBrocante {
        max-width:75px;
        min-width:75px;
        margin-right:0px;
        margin-top:10px;
    }

    
}

.logo {
    width: 10%;
    /* text-align: center; */
    margin-top: 10px;
}

.logo > a > img {
    max-height: 75px;
    max-width: 75px;
}

@media screen and (min-width:769px){
    .header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;
        /* height: 100px; */
        flex: 1;
        align-items: center;
        border: 2px solid #6D90C6;
        border-radius: 10px;
        margin-bottom: 20px;
    }
.titleSite {
    /* width: 70%; */
    text-align: center;
    font-size:2vw;
}
.titleSite2{
    /* width: 80%; */
    text-align: center;
    font-size:1em;
    border: 2px solid #6D90C6;
    border-radius: 10px;
    margin-bottom: 20px;
    display:none;
}
.button {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color: #6D90C6;
}
.imgBrocante {
    max-width:50px;
    min-width:50px;
    border-radius: 10px;
}
.imgBrocante {
    max-width:75px;
    min-width:75px;
    margin-right:0px;
    margin-top:10px;
}
}
.eventDate {
    /* width: 30%; */
}

.connexion {
    max-height: 50px;
    max-width: 50px;
}



.buttonValid {
    font-size: large;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: #6D90C6;
}

/* MAIN */
/*.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 12;
}*/

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 12;
    /* background-color:blueviolet; */
}

.infoFirst {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    /* background-color:pink; */
    text-align: center;
    align-items: center;
}

.italic {
    font-style: italic;
}

.infoGeneral {
    width: 40%;
    /* text-align: center; */
}

.blockImgBrocante {
    width: 20%;
    /* text-align: center; */
}

.txtAlignCenter {
    text-align: center;
}

.pageZoning{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.blockZoning {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    /* background-color:pink; */
    text-align: center;
    align-items: center;
}

@media screen and (max-width:768px){
.blockZoningImg {
    max-width:75%;
    margin: 10px;
    flex: 3;
}
}
@media screen and (min-width:769px){
    .blockZoningImg {
        margin: 10px;
        flex: 3;
    }
    }
.blockZoningTxt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 3;
    /* background-color:pink; */
    text-align: center;
    align-items: center;
    /* margin:10px; */
}

.blockZoningTitle {
    font-size: xx-large;
    margin: 20px;
    /* width:100%; */
}

.zoningFieldset {
    width: 80%;
    margin: 20px;
    /* width:100%; */
}

.zoningSelect {
    width: 80%;
    height: 30%;
    margin: 20px;
    text-align: left;
    /* background-color: blue; */
}

.zoningValid {
    height: 30%;
    margin: 20px;
    text-align: center;
    /* background-color: blue; */
}

select {
    height: 30px;
}



.imgBrocanteBig {
    width: 80%;
    border-radius: 10px;
}

.infoFirstBottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.infoFirstBottomPhoto {
    flex: 2;
    text-align: center;
}

.infoFirstBottomTxt {
    flex: 3;
    text-align: left;
    margin-right: 40px;
}

/* BANNER */
.bannerBoard {
    max-width: 95%;
    margin: 20px;
}

/* SECURITY */
.securityLeft {
    flex: 1;
    text-align: left;
}

.securityRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

.securityBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 40px 0px 40px;
}

.securityImg {
    flex: 1;
}

.imgSecurity {
    max-width: 50%;
}

.securityTxt {
    flex: 3;
    text-align: center;
}

.securityTxtFull {
    width: 90%;
    margin-left: 40px;
}

fieldset {
    border-radius: 10px;
    border-color: #6D90C6;
}

.pBig {
    font-size: x-large;
}

.blockPhotoTxt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.help {
    width: 20%
}

/* modification des formulaires à revoir:  */

.reservation {
    padding: 20px;
}

input {
    margin: 5px;
}

/* modification des fomulaires à revoir */

.photoColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 10px 10px 10px 10px;
    /* background-color:antiquewhite; */
}

.blockReservation {
    align-items: center;
    text-align: left;
    align-items: center;
}

li {
    margin: 5px;
}

p {
    font-size: large;
}

.txtColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    flex: 3;
    /*align-items: center;*/
}

.txtColumnCovid {
    margin: 20px;
}

.infoTxtTitle {
    font-size: xx-large;
    text-align: center;
}

.imgPhotoColumn {
    max-width: 110px;
    max-height: 110px;
}

.imgCovid {
    max-width: 26%;
    border-radius: 10px;
}

.imgCovidBig {
    max-width: 100%;
    border-radius: 10px;
}

.fieldsetInformation {
    margin-left: 10px;
}


/* CONNECT - NEW */
.LFconnect {
    flex:1;
    margin: 2%;
    align-items: flex-start;
}

.LFnew {
    flex:1;
    margin: 2%;
}

input {
    max-width: 100%;
}
@media screen and (max-width:768px){
    .infoFirstConnect {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
@media screen and (min-width:768px){
.infoFirstConnect {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}
}

legend {
    font-size: x-large;
}



/* PROFILE */
.profileBanner {
    font-size: xx-large;
    margin: 10px;
}

.profileAsk {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    margin: 10px;
}

.profileAskInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 2;
}

.profileAsk {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    margin: 10px;
}

.profileInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}

.profileInfoTxt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width: 981px) {
    .profileInfoTxt{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .profileTxtInfo{
        text-align: left!important;
    }
}

.profileInfoTxtUser {
    flex-direction: row;
    flex: 55%;
    margin-left: 10px;
}

.profileTxt {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px;
}

.profileTxtInfo {
    flex: 30%;
    height: 30px;
    
    text-align: right;
    font-style: italic;
}



/* FOOTER */
/*.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    align-items: center;
    text-align: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
}*/

footer {
    /* width:98.5vw;
    position:fixed;
    bottom:0; */
    height:40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    /* background-color:coral; */
    align-items: center;
    text-align: center;
    border: 2px solid #6D90C6;
    border-radius: 10px;
}

.copyright {
    font-size: small;
    width: 20%;
    /* background-color:blue; */
}

.contact {
    width: 40%
}

.cgu {
    width: 20%
}

.help {
    width: 20%
}

/* CGU */
.informLegal {
    font-size: 30px;
    color: #6D90C6;
}

.cguFont {
    font-size: 15px;
}

/* Nous contacter */
.SStxtColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 100px;
}

@media screen and (max-width:1136px) {
    .SStxtColumn{
        flex-direction: column;
        margin-left: auto;
    }
    
}




.txtAlignLeft {
    text-align: left;
}

.txtAlignCenter {
    text-align: center;
}

.txtAlignRight {
    text-align: right;
}

.blockContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    align-content: center;
    flex: 2;
}

.SScontact {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

textarea {
    width: 99%;
    height: 100px;
}

.bpEnvoiContact {
    align-self: center;
    font-size: large;
    height: 30px;
    border-radius: 10px;
    width: 100px;
}

.fullreseauSociaux {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    flex-wrap: wrap;
}

.reseauSociaux {
    display: flex;
    flex: 45%;
}


.imgReseauSociaux {
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.imgReseauSociauxThierry {
    width: 10%;
    margin-top: auto;
    border-radius: 5px;
    margin-bottom: auto;
}

.txtReseauSociaux {
    margin-left: 10px;
}

.tatoo {
    font-size: 15px;
}

/* Inscription succès */
.profilInscription {
    text-align: center;
}









/* CLASS STANDARD */
@media screen and (min-width:769px){
#proS{
    display:none;
}
#proSText{
    display:none;
}
}
@media screen and (max-width:768px){
    #pro{
        display:none;
    }
    #proText{
        display:none;
    }
    }
.blockColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    flex: 1;
}

.blockColumn2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    flex: 2;
}
.blockColumnB {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    flex: 1;
}

.blockColumnB2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    flex: 2;
}
.blockColumn3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    flex: 3;
}

.blockRow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.blockRow2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 2;
}
.justifyContent{
    justify-content: center;
    align-items: center;
}

.select100px {
    width: 100px;
}

.height20px {
    height: 20px;
}

.height30px {
    height: 30px;
}

.height40px {
    height: 40px;
}

.height60px {
    height: 60px;
}

.width100 {
    width: 100%;
}




















/* modification page contact */

.blockColumnContact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;
    flex: 1;
}

.blockRowContact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.txtContact {
    flex: 40%
}



@media screen and (max-width:388px) {
    .txtContact {
        text-align: left!important;
    }
}